#terminal {
    display: block;
    overflow-y: auto;
    height: 400px;
    width: 1000px;
    padding: 15px;
    position: relative;
    margin: 1em auto;
    word-wrap: break-word;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .66);
}

#files {
    display: none;
}

#fork {
    border: 0px;
}

body {
  padding-left: 1em;
  padding-right: 1em;
  background: lightblue;
}

#menu {
    text-align: center;
    padding: 10px;
    margin: 1em;
}

.boton {
    font-size: 20pt;
    border-radius: 10px;
    border: 2px solid;
    padding: 7px;
    text-decoration: none;
    color: darkblue;
    background: cornflowerblue;
    display: inline-block;
}

footer {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

@media screen and (min-width: 170px){
  footer{
    visibility: collapse;
  }

  #menu{
    display: none;
  }

  #fork{
    display: none;
  }

  #terminal {
      height: 100%;
      width: 100%;
      padding: 15px;
      position: absolute;
      margin: 0em;
      box-shadow: none;
      top: 0;
      left: 0;
  }

}

@media screen and (min-width: 1000px){
  footer{
    visibility: visible;
  }

  #menu{
    display: block;
  }

  #fork{
    display: block;
  }

  #terminal {
      display: block;
      overflow-y: auto;
      height: 400px;
      max-width: 1000px;
      padding: 15px;
      position: relative;
      margin: 1em auto;
      word-wrap: break-word;
      box-shadow: 0 12px 24px rgba(0, 0, 0, .66);
  }

}
